<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<appSettings>
		<add key="DaysInForecast" value="7" />
		<add key="WeatherUndergroundBaseUri" value="http://api.wunderground.com/api" />
		<add key="WeatherUndergroundAutocompleteUri" value="http://autocomplete.wunderground.com" />
		<add key="WeatherUndergroundApiKey" value="" />
		<add key="ForecastIoBaseUri" value="https://api.forecast.io/forecast" />
		<add key="ForecastIoApiKey" value="" />
	</appSettings>
	<specFlow>
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
		<unitTestProvider name="xUnit" />
	</specFlow>
</configuration>